streamlit
openai
pysqlite3-binary
chromadb==0.5.5
langchain-community==0.3.2
langchain
langchain_core
langchain-core
langchain-openai
langchain-anthropic
langchain-together
langchain-perplexity
langchain-community
langchain_community
langchain-groq
chromadb
sentence-transformers
langchain-huggingface
torch
langchain_classic
